@using Resources;
<div class="reget-se-pre-con">
    <div id="divLoadImg" class="reget-loader-div">
        <table>
            <tr>
                <td><img id="imgLoadBox" src="~/Content/Images/Preloader_2.gif" /></td>
                <td style="padding-left:5px;"><span id="spanLoading">@RequestResource.LoadingData</span></td>
            </tr>
        </table>
    </div>
</div> 
<div class="reget-se-pre-con-box-only">
    <div id="divLoadImg" class="reget-loader-div-box-only">
        <table>
            <tr>
                <td><img id="imgLoadBox" src="~/Content/Images/Preloader_2.gif" /></td>
                <td style="padding-left:5px;"><span id="spanLoadingBoxOnly">@RequestResource.LoadingData</span></td>
            </tr>
        </table>
    </div>
</div>                 