
@{
    ViewBag.Title = "CopyUser";
}

<form name="frmUser" style="overflow-x:auto" ng-app="RegetAppCopyUser">
    <div id="angContainer" ng-controller="CopyUserController as angCtrl" layout="column" ng-cloak>
        <h2>CopyUser</h2>
    </div>
</form>
