<div ng-if="grid.appScope.NewRowIndex==null">
    <!--<div ng-mouseover="rowStyle={'background-color': (rowRenderIndex%2 == 1) ? '#FFF' : '#FFF'};" ng-mouseleave="rowStyle={}" ng-style="selectedStyle={'background-color': (row.isSelected) ? '#379DBF' : ''}">-->
    <div ng-click="grid.appScope.CellClicked(row,col)"
            ng-if="!row.entity.editrow" style="height:30px;display: table; width:100%;">
        <div style="vertical-align: middle;display:table-cell;padding-left:5px;">
            {{COL_FIELD}}
        </div>
    </div>
    <div ng-if="row.entity.editrow">
        <!--<input type="text" style="height:30px" ng-model="MODEL_COL_FIELD" class="reget-grid-edit-cell" />-->
        <md-select name="cmbOffice"
                    ng-model="MODEL_COL_FIELD"
                   aria-label="{{COL_FIELD}}"
                    class="reget-ang-data-control reget-grid-edit-cell-mandatory"
                    required style="padding-left:5px;padding-right:0px;padding-top:0px;padding-bottom:0px;margin-top:0px!important;">
            <md-option ng-repeat="item in col.colDef.editDropdownOptionsArray" ng-value="item.value">
                {{item.label}}
            </md-option>
        </md-select>

        <!--<ui-select ng-model="MODEL_COL_FIELD" theme="selectize"
                        append-to-body="true">

            <ui-select-match placeholder="Choose...">{{ COL_FIELD }}</ui-select-match>
            <ui-select-choices repeat="item in col.colDef.editDropdownOptionsArray | filter: $select.search">
                <span>{{ item }}</span>
            </ui-select-choices>
        </ui-select>-->
    </div>
</div>

