<div>
    <div ng-click="grid.appScope.cellClicked(row,col)"
         ng-mouseover="grid.appScope.cellMouseOver(row)"
         ng-mouseleave="grid.appScope.cellMouseLeave()"
         ng-if="!row.entity.editrow" style="height:30px;display: table; width:100%;">
        <div style="vertical-align: middle;display:table-cell;padding-left:5px;">
            <!--{{grid.appScope.getShortText(COL_FIELD, 5)}}-->
            <!--<md-tooltip md-direction="bottom">{{COL_FIELD}}<br>aaa</md-tooltip>-->
            {{COL_FIELD}}
        </div>
    </div>
    <div ng-click="grid.appScope.cellClicked(row,col)"
         ng-mouseover="grid.appScope.cellMouseOver(row)"
         ng-mouseleave="grid.appScope.cellMouseLeave()"
         ng-if="row.entity.editrow" 
         class="reget-disabled"
         style="height:30px;display: table; width:100%;">
        <div style="vertical-align: middle;display:table-cell;padding-left:5px;">
            {{COL_FIELD}}
        </div>
    </div>
</div>
