<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net452" />
  <package id="Chutzpah" version="4.4.8" targetFramework="net452" />
  <package id="jasmine" version="2.6.4" targetFramework="net45" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="2.3.5" targetFramework="net452" />
  <package id="jasmine-js" version="1.3.1.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.TypeScript.MSBuild" version="3.8.3" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.15.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" />
  <package id="xunit" version="2.4.1" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net452" />
  <package id="xunit.core" version="2.4.1" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.4.3" targetFramework="net452" developmentDependency="true" />
</packages>